:root {
  --bodytext: #202020;
  --white: #fff;
  --turquoise: #13a5be;
  --grey: #666;
  --border: #b5b5b5;
  --orange: #de732f;
  --dark-blue: #052939;
  --blue-shade: #13a5be1f;
  --red: #eb1600;
  --peach: #f9f7f4;
  --trans: #0000;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  color: var(--bodytext);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  display: block;
}

.container {
  flex-flow: column;
  align-self: center;
  width: 100%;
  max-width: none;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter, sans-serif;
  display: block;
}

.container-in {
  background-image: url('../images/Inside.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 110%;
  width: 100%;
  max-width: none;
  height: 4360px;
}

.body-2 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section {
  flex-flow: column;
  order: -9999;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  display: flex;
}

.background-video {
  aspect-ratio: 16 / 9;
  object-fit: none;
  flex-flow: column;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  width: 100%;
  height: auto;
  display: block;
}

.container-2 {
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  max-height: none;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.image {
  vertical-align: top;
}

.container-3 {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: static;
}

.image-2 {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  inset: 0% 0% auto;
}

.container-4 {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.image-3 {
  vertical-align: top;
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.section-general {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.section-general.shaded {
  background-color: #ebf0f3;
  padding-top: 40px;
  padding-bottom: 20px;
}

.section-general.shaded-copy {
  background-color: #fdfffe;
  padding-top: 40px;
  padding-bottom: 20px;
}

.section-general.black {
  background-color: var(--bodytext);
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-general.padding {
  padding-bottom: 60px;
}

.herovideo {
  background-color: #000;
  width: 100%;
  height: 660px;
  max-height: 660px;
  overflow: hidden;
}

.herovideo.longerversion {
  height: 700px;
  max-height: 700px;
}

.background-video-2 {
  z-index: 1;
  aspect-ratio: 16 / 9;
  opacity: 1;
  text-align: center;
  object-fit: cover;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 660px;
  max-height: 660px;
  display: flex;
  overflow: hidden;
}

.background-video-2.longer {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  height: 700px;
  max-height: 740px;
}

.navbar {
  background-color: #ddd0;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  color: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
}

.nav-link.w--current {
  color: var(--turquoise);
}

.nav-link.cta-red {
  background-color: var(--turquoise);
  border-radius: 80px;
  margin-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link.cta-red.gradient {
  border: 1px solid var(--border);
  background-color: #20202000;
  background-image: none;
}

.nav-link-2, .nav-link-3 {
  color: var(--white);
}

.navigation-container {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.brand {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  display: block;
}

.navigation-wrap {
  z-index: 12;
  background-image: linear-gradient(#000 20%, #0000);
  width: 100%;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  inset: 0% 0% auto;
}

.image-4 {
  width: 274px;
  max-width: none;
  height: auto;
}

.container-5 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  max-width: 1260px;
  height: auto;
  display: flex;
}

.heading {
  z-index: 10;
  color: var(--white);
  text-align: center;
  letter-spacing: -.026em;
  text-transform: none;
  text-shadow: 0 4px 14px #0000007a;
  text-overflow: clip;
  overflow-wrap: normal;
  justify-content: center;
  align-items: center;
  height: auto;
  font-family: Inter, sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.22;
  display: flex;
  position: relative;
}

.heading.sml {
  margin-bottom: 10px;
  font-size: 48px;
}

.heading.mob {
  display: none;
}

.heading-2 {
  text-shadow: 0 2px 4px #0003;
  font-weight: 300;
}

.heading-2.btmpadding20 {
  z-index: 10;
  color: var(--white);
  width: 84%;
  max-width: 900px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.38;
  position: relative;
}

.heading-2.btmpadding20.spaceadjust {
  margin-bottom: 5px;
  padding-bottom: 0;
}

.cta_primary {
  border: 2px solid var(--orange);
  background-color: var(--orange);
  border-radius: 50px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 500;
  display: block;
}

.cta_primary.gradient {
  border-style: solid;
  border-color: var(--orange);
  background-color: var(--orange);
  font-size: 18px;
}

.cta_wrap {
  z-index: 10;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-self: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.cta_secondary {
  border: 2px solid var(--orange);
  color: var(--orange);
  -webkit-text-stroke-color: var(--turquoise);
  background-color: #000000bd;
  border-radius: 50px;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 500;
}

.cta_secondary.white {
  border-color: var(--dark-blue);
  background-color: var(--dark-blue);
  color: var(--white);
  -webkit-text-stroke-color: var(--dark-blue);
  margin-top: 20px;
}

.cta_secondary.whitebtn {
  border: 2px solid var(--orange);
  background-color: var(--white);
  color: var(--orange);
  margin-top: 40px;
}

.cta_secondary.small {
  background-color: var(--white);
  margin-top: 40px;
  font-size: 16px;
}

.dropdown {
  color: var(--white);
  vertical-align: baseline;
}

.text-block {
  color: var(--white);
  font-weight: 500;
}

.icon {
  color: var(--white);
  mix-blend-mode: difference;
  width: 42px;
  height: auto;
}

.container-6 {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px 100px;
}

.container-6.adjust-second-layout {
  padding-top: 0;
}

.container-6.nopading {
  width: 100%;
  max-width: 1260px;
}

.container-6.nopading.inside {
  padding-top: 40px;
  padding-bottom: 60px;
}

.heading-3 {
  text-align: center;
  letter-spacing: -.018em;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 600;
}

.heading-4 {
  color: var(--bodytext);
  text-align: center;
  letter-spacing: -.014em;
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.heading-4.spacebtm {
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 1.34;
}

.heading-4.spacebtm.padding {
  margin-bottom: 24px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 1.4;
}

.paragraph {
  color: #5d5d5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42;
}

.paragraph.paddingside {
  padding-left: 60px;
  padding-right: 60px;
  font-size: 16px;
  line-height: 1.5;
}

.paragraph.left {
  text-align: left;
}

.paragraph.left.bold {
  margin-bottom: 12px;
}

.quick-stack {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.columns {
  border: 1px solid var(--border);
  background-color: #edfcff;
  border-radius: 20px;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  width: auto;
  max-width: none;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  box-shadow: 0 10px 16px #00000024;
}

.columns.white {
  background-color: var(--white);
}

.columns.second-grid {
  background-color: var(--blue-shade);
  margin-top: 60px;
}

.column {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px #000;
  border-right: 1px solid #b5b5b5;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 46px;
  padding-right: 40px;
  display: flex;
}

.div-block {
  padding-top: 40px;
  padding-bottom: 40px;
}

.paragraph-left {
  color: var(--bodytext);
  text-align: left;
  text-indent: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.paragraph-left.paddingside {
  padding-left: 60px;
  padding-right: 60px;
}

.paragraph-left.grey {
  color: var(--grey);
  font-size: 16px;
  font-weight: 400;
}

.heading-5 {
  letter-spacing: -.014em;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}

.column-end {
  border: 1px #000;
  border-right-color: #b5b5b5;
  flex-flow: column;
  justify-content: space-between;
  padding-left: 46px;
  padding-right: 40px;
  display: flex;
}

.tilewrap {
  z-index: 10;
  width: 100%;
  max-width: 1260px;
  margin-top: -84px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.icon-3, .icon-4 {
  color: var(--white);
}

.section-stats {
  z-index: 1;
  background-image: url('../images/bg-road.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 200px;
  margin-top: -180px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.cta_primary_second {
  float: left;
  border: 2px solid var(--red);
  background-color: var(--red);
  text-align: center;
  overflow-wrap: normal;
  border-radius: 50px;
  flex-flow: row;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  width: auto;
  max-width: none;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  display: block;
  position: relative;
  inset: auto auto 0% 0%;
  overflow: visible;
}

.cta_primary_second.line-only {
  border-color: var(--orange);
  background-color: var(--orange);
  color: var(--white);
  border-bottom-style: solid;
}

.cta_primary_second.line-only.blue {
  border-style: solid;
  border-color: var(--turquoise);
  background-color: var(--turquoise);
}

.list {
  color: var(--grey);
  padding-left: 16px;
  line-height: 1;
  list-style-type: square;
}

.list-item {
  margin-bottom: 10px;
  line-height: 1.24;
}

.top-content {
  flex-flow: column;
  order: -9999;
  justify-content: flex-start;
  align-self: auto;
  align-items: flex-start;
  padding-top: 46px;
  display: flex;
}

.middle-content {
  align-self: flex-start;
  align-items: flex-start;
  font-size: 16px;
  display: flex;
}

.bottom-content {
  flex-flow: column;
  justify-content: flex-end;
  padding-bottom: 46px;
  display: flex;
}

.container-7 {
  max-width: 1260px;
  padding: 140px 20px 60px;
}

.container-7.whitetext {
  color: var(--white);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 80px;
  font-size: 22px;
  display: flex;
}

.container-7.whitetext.widthlimit {
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1120px;
  padding-top: 140px;
  padding-bottom: 60px;
}

.stats-block1 {
  align-items: center;
  margin-right: 60px;
  font-size: 24px;
  line-height: 1.4;
  display: flex;
  position: relative;
}

.stats-wraps {
  float: left;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  width: auto;
  display: flex;
  position: relative;
}

.stats-wraps.numbers {
  margin-left: auto;
  margin-right: 0;
}

.heading-6 {
  color: #42cde5;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 800;
  line-height: 1;
}

.heading-7 {
  color: var(--turquoise);
  margin-top: 0;
  font-size: 18px;
  font-weight: 500;
}

.text-span {
  color: var(--turquoise);
  font-weight: 500;
}

.text-span-2 {
  font-style: italic;
}

.tilewrap-white {
  z-index: 10;
  text-align: center;
  width: 100%;
  max-width: 1260px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: visible;
}

.quick-stack-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid var(--border);
  border-radius: 20px;
  width: auto;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-shadow: 0 10px 16px #00000024;
}

.cell {
  border-right: 1px solid var(--border);
  padding-bottom: 46px;
  padding-left: 46px;
  padding-right: 46px;
}

.cell-2 {
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  padding-bottom: 46px;
  padding-left: 46px;
  padding-right: 46px;
}

.cell-3 {
  border-top: 1px solid var(--border);
  padding-bottom: 46px;
  padding-left: 46px;
  padding-right: 46px;
}

.cell-4 {
  padding-bottom: 46px;
  padding-left: 46px;
  padding-right: 46px;
}

.video-overlay {
  z-index: 2;
  mix-blend-mode: normal;
  object-fit: cover;
  background-color: #00000057;
  align-self: center;
  width: 100%;
  height: auto;
  min-height: 712px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  inset: 0%;
}

.section-partners {
  z-index: 1;
  background-color: #f2f2f2;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-8 {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px 320px;
}

.container-8.whitetext {
  color: var(--white);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 80px;
  font-size: 22px;
  display: flex;
}

.container-8.whitetext.widthlimit {
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}

.flex-block {
  clear: none;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  aspect-ratio: auto;
  object-fit: fill;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: visible;
}

.partner-logos {
  float: left;
  vertical-align: baseline;
  align-self: auto;
  width: auto;
  max-width: none;
  margin: 40px;
  display: block;
  overflow: clip;
}

.columns-2 {
  float: none;
  opacity: .76;
  text-align: center;
  width: auto;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.div-block-2 {
  width: auto;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.image-5 {
  width: 90%;
}

.image-6 {
  width: 80%;
}

.image-6.google {
  width: 72%;
}

.image-7 {
  width: 42%;
}

.image-8, .image-9, .image-10 {
  width: 80%;
}

.cta-wrap {
  background-color: var(--orange);
  text-align: center;
  border-radius: 20px;
  width: 100%;
  max-width: 1260px;
  margin-top: 0;
  margin-bottom: 80px;
  padding: 60px 40px 80px;
}

.cta-wrap.inside {
  max-width: 1220px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.heading-8 {
  color: var(--white);
  text-align: center;
  font-size: 42px;
  font-weight: 600;
}

.cta_primary_third {
  float: none;
  clear: both;
  border: 2px solid var(--red);
  background-color: var(--bodytext);
  text-align: center;
  overflow-wrap: normal;
  border-radius: 50px;
  flex-flow: row;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  width: auto;
  max-width: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  position: static;
  inset: auto auto 0% 0%;
  overflow: visible;
}

.cta_primary_third.line-only {
  background-color: var(--white);
  color: var(--red);
}

.whiye {
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

.section-footer {
  background-color: var(--bodytext);
  color: var(--white);
}

.heading-9 {
  text-align: center;
  font-weight: 300;
}

.heading-9.smaller {
  font-size: 14px;
  line-height: 1.4;
}

.heading-9.smaller.toppadding {
  padding-top: 20px;
}

.heading-9.smaller.smal {
  opacity: .62;
  font-size: 12px;
}

.link {
  color: var(--white);
  margin-left: 14px;
  margin-right: 14px;
  font-size: 18px;
  text-decoration: none;
}

.container-footer {
  z-index: 10;
  text-align: center;
  max-width: 1260px;
  margin-top: -240px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 80px;
  position: relative;
}

.para1 {
  width: 50%;
}

.dropdown-toggle, .dropdown-toggle-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-menu {
  margin-top: 20px;
}

.dropdown-list {
  background-color: #ddd;
  font-size: 16px;
}

.dropdown-list.w--open {
  border: 1px solid var(--grey);
  background-color: var(--bodytext);
  border-radius: 8px;
  box-shadow: 0 6px 12px #0003;
}

.dropdown-link {
  border-top: 1px none var(--grey);
  border-bottom: 1px solid var(--grey);
  color: var(--white);
  padding-top: 14px;
  padding-bottom: 14px;
}

.dropdown-link-2 {
  border-bottom: 1px solid var(--grey);
  color: var(--white);
  padding-top: 14px;
  padding-bottom: 14px;
}

.dropdown-link-3 {
  color: var(--white);
  padding-top: 14px;
  padding-bottom: 14px;
}

.quick-stack-33 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid var(--border);
  border-radius: 20px;
  width: auto;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-shadow: 0 10px 16px #00000024;
}

.section-2 {
  width: 100%;
}

.why-one {
  background-color: var(--peach);
  width: auto;
  display: flex;
}

.content {
  padding-right: 68px;
}

.heading-details {
  letter-spacing: -.014em;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
}

.image-11 {
  box-sizing: border-box;
  aspect-ratio: auto;
  vertical-align: baseline;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.column-8 {
  background-image: url('../images/team.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  align-self: stretch;
  align-items: flex-start;
  height: auto;
  padding-left: 0;
  display: flex;
}

.column-9 {
  padding: 60px 40px 60px 60px;
}

.why-three {
  background-color: #eee9e1;
  width: auto;
  display: flex;
}

.columns-3 {
  display: flex;
}

.column-10 {
  padding: 60px 40px 60px 60px;
}

.column-11 {
  background-image: url('../images/22.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.heading-details-sub {
  letter-spacing: -.014em;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.heading-details-sub.sml {
  font-size: 19px;
}

.column-8-c {
  background-image: url('../images/44.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  align-self: stretch;
  align-items: flex-start;
  height: auto;
  padding-left: 0;
  display: flex;
}

.center {
  text-align: center;
  align-self: center;
}

.center.normal {
  padding-bottom: 40px;
  font-weight: 500;
  line-height: 1.5;
}

.insidehero {
  z-index: 10;
  background-color: #000;
  background-image: url('../images/bg-road.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 120px;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
  top: 0;
  overflow: visible;
}

.insidehero.longerversion {
  height: 700px;
  max-height: 700px;
}

.insidehero.about {
  min-height: 270px;
}

.white-header {
  color: var(--white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.header-wrap {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.bold-text {
  font-size: 38px;
}

.heading-10 {
  color: var(--border);
  margin-top: 10px;
  font-weight: 500;
}

.bold-text-2, .bold-text-3 {
  font-weight: 500;
}

.list-2 {
  margin-bottom: 0;
}

.paragraph-2 {
  margin-bottom: 20px;
}

.section-footer-in {
  border-top: 1px solid var(--grey);
  background-color: var(--bodytext);
  color: var(--white);
  padding-top: 0;
}

.container-footer-in {
  z-index: 10;
  text-align: center;
  max-width: 1260px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px 80px;
  position: relative;
}

.image-inside {
  vertical-align: top;
  width: 100%;
  max-width: 680px;
  height: auto;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.image-12 {
  border-radius: 12px;
  width: 98%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.line {
  background-color: var(--border);
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 32px;
}

.list-item-2, .list-item-3, .list-item-4, .list-item-5, .list-item-6, .list-item-7, .list-item-8, .list-item-9 {
  margin-bottom: 10px;
  line-height: 1.4;
}

.section-general-inside {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.section-general-inside.shaded {
  background-color: #ebf0f3;
  padding-top: 40px;
  padding-bottom: 20px;
}

.section-general-inside.shaded-copy {
  background-color: #fdfffe;
  padding-top: 40px;
  padding-bottom: 20px;
}

.paragraph-3, .paragraph-4, .paragraph-5, .paragraph-6, .paragraph-7 {
  margin-bottom: 20px;
}

.cta-side {
  border: 1px solid var(--border);
  background-color: var(--orange);
  object-fit: fill;
  border-radius: 12px;
  margin-top: 20px;
  padding: 40px;
  display: block;
  position: sticky;
  top: 10px;
}

.cta-head {
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.text-block-2 {
  color: var(--white);
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.24;
}

.column-12 {
  flex-flow: column;
  padding-top: 0;
  padding-right: 60px;
  display: flex;
}

.stickro {
  position: sticky;
  top: 0;
}

.columns-4 {
  flex-flow: row;
  align-items: flex-start;
  display: flex;
}

.column-13 {
  flex-flow: column;
  display: flex;
  position: sticky;
  top: 0;
}

.paragraph-8 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 700;
}

.paragraph-9 {
  margin-top: 20px;
  font-weight: 700;
}

.paragraph-10 {
  margin-top: 24px;
  font-weight: 700;
}

.paragraph-about {
  margin-bottom: 20px;
}

.about-hero {
  color: var(--white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1260px;
  margin-top: 186px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
}

.aboutherad {
  color: var(--white);
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.bold-text-4 {
  font-size: 22px;
  font-weight: 500;
}

.heading-11 {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading-11.session {
  text-align: center;
}

.heading-12 {
  margin-bottom: 0;
}

.heading-12.session {
  text-align: center;
}

.section-about-quote {
  z-index: 1;
  background-image: url('../images/bg-road.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 200px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.about-quote {
  color: var(--white);
  max-width: 780px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.bloqote {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 29px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.4;
}

.contact-grid {
  flex-flow: row;
  align-items: flex-start;
  display: flex;
}

.text-span-3 {
  font-size: 14px;
}

.field-label, .field-label-2 {
  font-size: 16px;
  font-weight: 400;
}

.submitbtn {
  background-color: var(--orange);
  border-radius: 30px;
  margin-top: 20px;
  padding-left: 28px;
  padding-right: 28px;
}

.strategysession {
  width: 100%;
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.callback {
  background-color: var(--orange);
  border-radius: 30px;
  width: 100%;
  margin-top: 14px;
  padding: 12px 26px;
}

@media screen and (max-width: 991px) {
  .herovideo {
    height: auto;
    max-height: 580px;
  }

  .background-video-2 {
    height: 580px;
    max-height: none;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
  }

  .nav-link {
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    text-align: left;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .nav-link.cta-red.gradient {
    text-align: left;
    border-style: none;
    width: auto;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .nav-link.mid {
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    text-align: left;
  }

  .heading {
    margin-top: 40px;
    font-size: 42px;
  }

  .heading.sml {
    font-size: 42px;
  }

  .heading.mob {
    display: none;
  }

  .heading-2.btmpadding20 {
    margin-top: 0;
    font-size: 16px;
  }

  .heading-2.btmpadding20.spaceadjust, .cta_primary, .cta_secondary {
    font-size: 16px;
  }

  .container-6 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .heading-3 {
    line-height: 1.2;
  }

  .columns {
    flex-flow: column;
  }

  .column {
    border-bottom-style: solid;
    border-right-style: none;
    border-bottom-color: var(--border);
  }

  .heading-5 {
    text-align: left;
  }

  .tilewrap {
    width: auto;
  }

  .icon-2 {
    color: var(--white);
  }

  .container-7.whitetext.widthlimit {
    padding-top: 100px;
  }

  .stats-block1 {
    font-size: 22px;
  }

  .stats-wraps {
    justify-content: flex-start;
    align-items: stretch;
  }

  .heading-7 {
    line-height: 1.4;
  }

  .tilewrap-white, .quick-stack-2 {
    width: auto;
  }

  .video-overlay {
    flex: 1;
    height: 580px;
  }

  .columns-2 {
    margin-top: 40px;
  }

  .image-5, .image-6, .image-7, .image-8, .image-9, .image-10 {
    width: auto;
    max-width: none;
  }

  .heading-8 {
    font-size: 38px;
  }

  .dropdown-toggle-2 {
    width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .nav-menu {
    border: 1px solid var(--grey);
    background-color: var(--bodytext);
    text-align: left;
    border-radius: 6px;
    width: 90%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    box-shadow: 0 8px 10px #0006;
  }

  .column-2, .column-3, .column-4, .column-5, .column-6, .column-7 {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .dropdown-list.w--open {
    width: 128%;
  }

  .quick-stack-33 {
    width: auto;
  }

  .heading-details, .heading-details-sub {
    text-align: left;
  }

  .center.normal {
    font-size: 22px;
  }

  .insidehero {
    height: auto;
    max-height: 580px;
  }

  .column-12 {
    padding-bottom: 40px;
    padding-right: 10px;
  }

  .columns-4 {
    display: block;
  }

  .bold-text-4 {
    font-size: 18px;
  }

  .heading-11 {
    margin-top: 0;
  }

  .heading-12 {
    font-size: 34px;
  }

  .contact-grid {
    display: block;
  }

  .menu-button, .menu-button.w--open {
    background-color: #0000;
  }

  .menu-button-2 {
    background-color: #0000;
    padding-top: 22px;
  }

  .menu-button-2.w--open {
    background-color: #0000;
  }
}

@media screen and (max-width: 767px) {
  .herovideo {
    aspect-ratio: auto;
    object-fit: cover;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .herovideo.longerversion {
    height: auto;
    min-height: auto;
    max-height: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .background-video-2 {
    aspect-ratio: auto;
    object-fit: cover;
    max-height: 580px;
    overflow: visible;
  }

  .background-video-2.longer {
    justify-content: flex-start;
    align-items: center;
    height: auto;
    min-height: auto;
    max-height: none;
    padding-top: 106px;
    padding-bottom: 140px;
  }

  .navigation-wrap {
    height: 100px;
  }

  .heading {
    font-size: 36px;
  }

  .heading.mob {
    display: block;
  }

  .heading.desktop {
    display: none;
  }

  .heading-2.btmpadding20 {
    width: 92%;
    font-size: 16px;
  }

  .heading-2.btmpadding20.spaceadjust {
    width: 92%;
  }

  .cta_primary {
    align-self: stretch;
  }

  .cta_wrap {
    flex-flow: column;
  }

  .cta_secondary {
    align-self: stretch;
  }

  .heading-3 {
    font-size: 36px;
  }

  .stats-block1 {
    margin-right: 20px;
    font-size: 18px;
  }

  .stats-wraps {
    align-self: auto;
  }

  .stats-wraps.numbers {
    margin-right: 20px;
  }

  .cell-4 {
    border-top: 1px solid var(--border);
  }

  .video-overlay {
    flex-flow: row;
    flex: 1;
    justify-content: center;
    align-self: auto;
    align-items: stretch;
    min-height: 708px;
    max-height: none;
    padding-bottom: 0;
    display: flex;
  }

  .nav-menu {
    margin-top: 0;
  }

  .insidehero {
    aspect-ratio: auto;
    object-fit: cover;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .image-12 {
    width: 100%;
  }

  .column-12 {
    padding-right: 10px;
  }

  .columns-4 {
    display: block;
  }

  .bold-text-4 {
    line-height: 1;
  }

  .heading-11 {
    line-height: 1.2;
  }
}

@media screen and (max-width: 479px) {
  .herovideo {
    max-height: none;
    overflow: hidden;
  }

  .background-video-2 {
    overflow: visible;
  }

  .background-video-2.longer {
    padding-top: 73px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .image-4 {
    width: 210px;
  }

  .heading {
    font-size: 34px;
    line-height: 1.2;
  }

  .heading.sml {
    font-size: 32px;
  }

  .heading.mob {
    margin-top: 60px;
    font-size: 32px;
  }

  .heading-2.btmpadding20 {
    padding-bottom: 0;
    font-size: 16px;
    font-weight: 400;
  }

  .heading-2.btmpadding20.spaceadjust {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
  }

  .cta_primary {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  }

  .cta_wrap {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }

  .container-6 {
    padding-top: 46px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-3 {
    font-size: 32px;
  }

  .heading-4.spacebtm.padding {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

  .paragraph.paddingside {
    padding-left: 10px;
    padding-right: 10px;
  }

  .column {
    padding-left: 40px;
    padding-right: 40px;
  }

  .paragraph-left {
    font-size: 18px;
    font-weight: 500;
  }

  .heading-5 {
    font-size: 24px;
  }

  .column-end {
    padding-left: 40px;
    padding-right: 40px;
  }

  .cta_primary_second.line-only.blue {
    align-self: stretch;
  }

  .list-item {
    font-size: 16px;
  }

  .top-content {
    padding-top: 34px;
  }

  .top-content.sml {
    padding-top: 20px;
  }

  .stats-wraps {
    font-size: 18px;
  }

  .heading-6 {
    font-size: 42px;
  }

  .heading-7 {
    font-size: 14px;
  }

  .cell-4 {
    border-top: 1px solid var(--border);
  }

  .video-overlay {
    background-color: #0000007a;
    min-height: 767px;
  }

  .container-8 {
    padding-top: 46px;
  }

  .columns-2 {
    width: auto;
  }

  .div-block-2 {
    width: 100%;
  }

  .cta-wrap {
    margin-bottom: 60px;
    padding-top: 46px;
    padding-bottom: 80px;
  }

  .heading-8 {
    font-size: 28px;
    line-height: 1.2;
  }

  .heading-9.smaller.toppadding {
    font-size: 12px;
  }

  .heading-9.smaller.smal {
    font-size: 10px;
  }

  .link {
    font-size: 14px;
  }

  .container-footer {
    margin-top: -240px;
  }

  .nav-menu {
    margin-top: 0;
  }

  .dropdown-list.w--open {
    width: auto;
  }

  .heading-details, .heading-details-sub {
    font-size: 26px;
  }

  .heading-details-sub.sml {
    font-size: 18px;
  }

  .center.normal {
    font-size: 20px;
  }

  .insidehero {
    max-height: none;
    overflow: hidden;
  }

  .list-2 {
    padding-left: 20px;
    font-size: 16px;
  }

  .paragraph-3, .paragraph-4, .paragraph-5, .paragraph-6, .paragraph-7, .paragraph-about {
    font-size: 16px;
  }

  .aboutherad {
    padding-bottom: 20px;
  }

  .bold-text-4 {
    line-height: 22px;
    display: block;
  }

  .bold-text-5 {
    font-size: 32px;
  }

  .heading-13 {
    margin-top: 0;
  }

  .bold-text-6 {
    font-size: 18px;
    line-height: 1.2;
  }

  .menu-button {
    padding-top: 22px;
  }
}

#w-node-d4b21fd9-b696-cb52-4bda-66f148f76691-38dabd3c, #w-node-d03454bc-1f7d-9718-e2b5-d1ed28a7dce3-38dabd3c, #w-node-d4b21fd9-b696-cb52-4bda-66f148f76691-4011949b, #w-node-d03454bc-1f7d-9718-e2b5-d1ed28a7dce3-4011949b {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 991px) {
  #w-node-d4b21fd9-b696-cb52-4bda-66f148f76691-38dabd3c, #w-node-d03454bc-1f7d-9718-e2b5-d1ed28a7dce3-38dabd3c, #w-node-d4b21fd9-b696-cb52-4bda-66f148f76691-4011949b, #w-node-d03454bc-1f7d-9718-e2b5-d1ed28a7dce3-4011949b {
    display: grid;
  }
}

@media screen and (max-width: 767px) {
  #w-node-d4b21fd9-b696-cb52-4bda-66f148f76691-38dabd3c, #w-node-d03454bc-1f7d-9718-e2b5-d1ed28a7dce3-38dabd3c, #w-node-d4b21fd9-b696-cb52-4bda-66f148f76691-4011949b, #w-node-d03454bc-1f7d-9718-e2b5-d1ed28a7dce3-4011949b {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d4b21fd9-b696-cb52-4bda-66f148f76691-38dabd3c, #w-node-d03454bc-1f7d-9718-e2b5-d1ed28a7dce3-38dabd3c, #w-node-d4b21fd9-b696-cb52-4bda-66f148f76691-4011949b, #w-node-d03454bc-1f7d-9718-e2b5-d1ed28a7dce3-4011949b {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}


